.shop-wrapper {
    display: grid;
    height: calc(100vh - 200px);
    width: 100vw;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
}

.shop-wrapper div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.shop-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

.shop-wrapper img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 720px) {
    .shop-wrapper {
        grid-template-columns: 80%;
        grid-template-rows: 80%;
    }
}