.modal-alert-body{
    position: relative;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin: 5px auto;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.6);
    color: white
}

.modal-info-body{
    position: relative;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin: 5px auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white
}