.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.sidebar-wrapper label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.sidebar-wrapper label input,
.sidebar-wrapper label select {
  margin-top: 0.5rem;
  height: 3rem;
  font-size: 1.2rem;
}

.sidebar-wrapper label:last-of-type {
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-wrapper label:last-of-type input {
  margin-top: 0;
  margin-left: 1rem;
}

.hide-sidebar-content {
  visibility: hidden;
  transition: all 0.5s;
}

.reset-btn {
  height: 3rem;
}

/* Sidebar animation */

.toggle {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
}

.toggle i,
.toggle i::after,
.toggle i::before {
  position: absolute;
  width: 25px;
  height: 4px;
  border-radius: 4px;
  transition: transform 0.15s;
  background-color: black;
}

.toggle i {
  top: 46%;
  left: 18%;
  display: block;
  background-color: black;
}

.toggle i::before {
  top: -7px;
}

.toggle i::after {
  bottom: -7px;
}

.toggle i::after,
.toggle i::before {
  content: "";
  display: block;
}

.toggle i::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.toggle i::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.no-aside .toggle i::before,
.no-aside .toggle i::after {
  transform: none;
}
